{% extends 'base.html' %}
{% load static %}
{% load bag_filters %}

{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="mb-5">Your Shopping Bag</h2>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-start mb-3" style="margin-left: 20px;">
                <div style="flex: 1;"><strong>Product Details</strong></div>
                <div style="flex: 1;"><strong>Price</strong></div>
                <div style="flex: 1;"><strong>Quantity</strong></div>
            </div>
            <hr>
            {% if bag_items %}
            <div class="table-responsive">
                <ul style="list-style-type: none; padding-left: 0;">
                    {% for item in bag_items %}
                    <li class="mb-4">
                        <div style="display: flex; flex-wrap: wrap;">
                            <div style="flex: 1;">
                                    {% if item.product.image %}
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid" style="max-width: 100px;">
                                    {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ item.product.name }}" class="img-fluid" style="max-width: 100px;">
                                    {% endif %}
                            </div>
                            <div style="flex: 2;">
                                <strong>{{ item.product.name }}</strong><br>
                                Size: {% if item.product.has_sizes %}{{ item.size }}{% else %}N/A{% endif %}
                            </div>
                            <div style="flex: 1;">
                                {{ item.product.price }}
                            </div>
                            <div style="flex: 3;">
                                {% include 'bag/quantity_form.html' %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="text-right">
                <strong>Total: </strong>€{{ total }}<br>
                <strong>Delivery: </strong>€{{ delivery|floatformat:2 }}<br>
                <h4><strong>Grand Total: </strong>€{{ grand_total|floatformat:2 }}</h4>
                <div>
                    <a href="{% url 'checkout' %}" class="btn btn-second mb-2">Proceed to Checkout<i class="fa-solid fa-lock"></i></a>
                </div>
                <div>
                    <a href="{% url 'products' %}" class="btn btn-primary">Keep Shopping</a>
                </div>
            </div>

            {% else %}
            <p>Your bag is empty.</p>
            {% endif %}
        </div>
    </div>
</div>
{% include 'products/includes/quantity_script.html' %}
<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}