{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- User Information -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>User Profile</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'profile' %}" method="POST" id="profile-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success mt-2">Update Information</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Order History -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Order History</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Total Items</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td><a href="{% url 'order_detail' order.id %}">{{ order.id }}</a></td>
                                    <td>{{ order.date }}</td>
                                    <td>{{ order.items.count }}</td>
                                    <td>{{ order.total_amount }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/country_field.js' %}"></script>
{% endblock %}