/* Main Styles */

* {
    color: #f1f1f1;
}

i {
    color: black;
}

a {
    text-decoration: none;
}

/* Hero Carousel */
.carousel-item {
    height: 400px;
    overflow: hidden;
}

.carousel-item img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.carousel-caption-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.caption-box {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    border-radius: 5px;
    max-width: 80%;
    text-align: center;
}



/* Media queries for large devices */
@media (min-width: 992px) {
    .caption-box {
        max-width: 50%;
        margin: auto; 
    }
}

.btn-primary {
    background-color: #c7a17a !important;
    border-color: #c7a17a !important;
    color: #ffffff !important;
}

.btn-primary:hover {
    background-color: #7b4b27 !important;
    border-color: #7b4b27 !important;
    color: #ffffff !important;
}
