/* Main Styles */

* {
    color: #f1f1f1;
}

i {
    color: black;
}

/*  Hero Carousel */

.hero-carousel {
    height: 500px;
}

.hero-carousel .carousel-inner {
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 40%;
    left: 50%;
    max-height: 300px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.carousel-caption h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.carousel-caption p {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 30px;
}

.carousel-caption a.btn {
    background-color: #c7a17a;
    color: #fff;
    font-size: 1.25rem;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.carousel-caption a.btn:hover,
.carousel-caption a.btn:focus {
    background-color: #7b4b27;
}

.carousel-caption a.btn:active {
    background-color: #7b4b27; 
}