{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Product{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-center">
            <h1 class="logo-font">Edit Product</h1> <!-- Changed from "Product Management" -->
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <h2 class="logo-font mb-4">Edit Existing Product</h2> <!-- Changed from "Add a New Product" -->
            <hr>

            <form method="post" enctype="multipart/form-data" class="mb-2">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {% if field.name != 'image' %}
                    {{ field|as_crispy_field }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                </div>
                {% endfor %}
                <div class="text-right">
                    <a href="{% url 'products' %}" class="btn btn-outline-secondary rounded-0">Cancel</a>
                    <button type="submit" class="btn btn-primary rounded-0">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
{% endblock %}