{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <!-- Category Selector -->
    <div class="col-md-3 d-none d-md-block">
        <h3>Categories</h3>
        <ul class="list-group">
            {% for category in categories %}
            <li class="list-group-item">
                <a href="?category={{ category.name }}" class="category-link"
                    data-category="{{ category.friendly_name }}">{{ category.friendly_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Products -->
    <div class="col-md-9 text-center">
        <h1>All Products</h1>
        <!-- Filter dropdown -->
        <form class="mb-3">
            <label for="sort_by">Sort By:</label>
            <select name="sort_by" id="sort_by" onchange="this.form.submit()">
                <option value="" {% if sort_by == "" %}selected{% endif %}>Choose...</option>
                <option value="name_az" {% if sort_by == "name_az" %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_za" {% if sort_by == "name_za" %}selected{% endif %}>Name (Z-A)</option>
                <option value="price_low" {% if sort_by == "price_low" %}selected{% endif %}>Price (Low-High)</option>
                <option value="price_high" {% if sort_by == "price_high" %}selected{% endif %}>Price (High-Low)</option>
                <option value="rating_low" {% if sort_by == "rating_low" %}selected{% endif %}>Rating (Low-High)
                </option>
                <option value="rating_high" {% if sort_by == "rating_high" %}selected{% endif %}>Rating (High-Low)
                </option>
            </select>
        </form>

        <!-- Product Cards -->
        <div class="row">
            {% if products %}
            {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <!-- Product Image -->
                    {% if product.image and product.image.url %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                    {% endif %}

                    <!-- Product Info -->
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                        </h4>
                        <h5>€{{ product.price }}</h5>

                        <!-- Edit & Remove Links -->
                        {% if request.user.is_superuser %}
                        <a href="{% url 'edit_product' product.id %}" class="text-info">Edit</a>
                        |
                        <a href="{% url 'delete_product' product.id %}" class="text-danger">Remove</a>
                        {% endif %}
                    </div>

                    <!-- Card Footer -->
                    <div class="card-footer">
                        <small class="text-muted"><i class="fa-regular fa-star text-warning"></i>Rating:
                            {{ product.rating }}</small>

                        <!-- View & Add to Bag Buttons -->
                        <div class="mt-2">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary btn-sm">View
                                Details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12">
                <p class="text-center">No products found for the given search criteria.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}