{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <!-- Product Image -->
        <div class="col-lg-6">
            <a href="{{ product.image.url }}" target="_blank">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
            </a>
        </div>
        <!-- Product Details -->
        <div class="col-lg-6">
            <h1 class="mb-4">{{ product.name }}</h1>
            <p class="mb-4">{{ product.description }}</p>
            <h3 class="mb-4">€{{ product.price }}</h3>

            <!-- Shopping Bag Form -->
            <form class="align-c" method="post" action="{% url 'add_to_bag' product.id %}">
                {% csrf_token %}
                <!-- Quantity Selector -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary decrement-qty">-</button>
                    </div>
                    <input type="number" name="quantity" id="quantity" class="form-control text-center" value="1"
                        min="1" max="99">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary increment-qty">+</button>
                    </div>
                </div>

                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <button type="submit" class="btn btn-primary btn-lg">Add to Shopping Bag</button>
            </form>
            <!-- Keep Shopping Button -->
            <div class="mt-2 align-c">
                <a href="{% url 'products' %}" class="btn btn-secondary btn-lg ml-2" role="button">Keep Shopping</a>
            </div>
        </div>
    </div>
</div>
{% include 'products/includes/quantity_script.html' %}
{% endblock %}