<div class="toast bg-white my-toast" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="true">
    <!-- Arrow Decoration -->
    <div class="arrow-up arrow-danger"></div>

    <!-- Header -->
    <div class="toast-header bg-danger">
        <strong class="mr-auto text-white">Error</strong>
        <button type="button" class="close text-white" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Body -->
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
        </div>